.header-link {
  text-decoration: none;
  font-size: 24px;
}

.router-link-active {
  color: var(--color-red);
}

.menu-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

@media (min-width: 768px) {
  .menu-btn {
    position: static;
  }
}

@media (min-width: 1024px) {
  .header-link {
    font-size: 30px;
  }
}
