.release-clear-all-btn {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  height: 30px;
  margin-top: 10px;
  flex-shrink: 0;
}

.remove-release-btn {
  border-radius: 8px;
  background-color: transparent;
  border: none;
  width: auto;
  height: auto;
}
