:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-orange: #b47022ff;
  --color-green: #008000;
  --color-red: #9f1b19;
  --color-blue: #15489bff;
  --color-purple: #7e57c2;
  --color-light-grey: #ccc;
  --color-grey: #444;
  --color-dark-grey: #1a1a1a;
  --color-hover: #ff3d00;
  --color-transparent-black: rgba(0, 0, 0, 0.5);
  --color-transparent-grey: rgba(53, 50, 50, 0.5);
  --color-shadow-black: rgba(0, 0, 0, 0.7);
  --color-shadow-green: rgba(60, 255, 120, 0.4);
  --color-shadow-red: rgba(255, 60, 60, 0.4);
  --color-shadow-blue: rgba(77, 163, 255, 0.4);
}
